/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles
   ========================================================================== */

html,button,input,select,textarea { color: #222; }
html {font-size: 1em;line-height: 1.4;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
audio,canvas,img,video {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}

/* ==========================================================================
   Main styles
   ========================================================================== */

/*    F O N T S
/*--------------------------------------*/

@font-face {
    font-family: 'proxima_novaregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*    T Y P O G R A P H Y
/*--------------------------------------*/

body {
	color: #222;
	font: 14px/26px proxima_novaregular, Arial, Helvetica, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: proxima_novasemibold;
	font-weight: normal;
	clear: both;
}
h1, h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #1e4b87;
}
h1 {
	font-size: 60px;
	color: #1e4b87;
	margin-bottom: 40px;
}
h2 {
	font-family: proxima_novalight;
	font-size: 30px;
	margin: 40px 0 20px 0;
}
.home h2 {	
	margin: 12px 0 50px 0;
	font-family: proxima_novalight;
	font-size: 60px;
	letter-spacing: 1px;
	color: #1e4b87;
	margin-bottom: 40px;
}
h3 {
	font-size: 16px;
	margin: 0 0 0 0;
}
.col + .col h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 2px solid #d0e2ee;
}
.home h3 {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1e4b87;
	margin: 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #d0e2ee;
}
.book-list h3 {
	margin-top: 0;
}
h4 {
	margin-bottom: 0;
	font-size: 16px;
}
.home h4 {
	margin: 0;
	line-height: 20px;
	font-size: 14px;
}
.faculty h4 {
	font-size: 14px;
	border-bottom: 2px solid #d0e2ee;
}
strong {
	font-family: proxima_novasemibold;
	font-weight: normal;
}
p {
	
}
h3 + p {
	margin-top: 0;
}
ul {
	
}
.col ul {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
}
.col + .col li {
	list-style: none;
	margin: 0;
	line-height: 20px;
}
.home .col li {
	list-style: none;
	margin:0 0 25px 0;
}
.person .book-list li {
	list-style: none;
	margin:0 0 25px 0;
}
.home .col span {
	display: block;
	font-size: 12px;
	line-height: 18px;
}
cite {
	font-size: 16px;
	display: block;
	text-align: right;
	font-style: normal;
}
blockquote {
	padding: 20px 40px 15px 22px;
	font-size: 18px;
	line-height: 30px;
	font-style: italic;
	color: #1e4b87;
	border-left: 20px solid #00a5e5;
	margin: 30px 0;
}
#hero blockquote {
	width: 518px;
	margin-left: 360px;
	background: url('../img/transparent-bg.png') repeat left top;
	padding: 35px 40px 15px 22px;
	font-size: 40px;
	line-height: 41px;
	color: #222;
}
#hero .content {
	padding-top: 100px;
}
dt {
	font-family: proxima_novasemibold;
	font-size: 16px;
}
dd {
	margin: 0 0 25px 0;
}

/* Other */
.col .event-category, .col .news-category {
	font-family: proxima_novasemibold;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #666;
	text-transform: uppercase;
	padding-left: 20px;
}
.col .event-category {
	background: url('../img/event-icon.png') no-repeat left center;
}
.col .news-category {
	background: url('../img/news-icon.png') no-repeat left center;
}

/* Links */
a {
	text-decoration: none;
	color: #00a5e5;
}
.col a, .breadcrumbs a {
	font-family: proxima_novasemibold;
}
.breadcrumbs a {
	color: #fff;
	text-decoration: underline;
	
}
a:hover, a:focus, a:active {
	
}
a.btn {
	background-color: #00a5e5;
	border-radius: 15px;
	color: #fff;
	padding: 3px 0;
	font-family: proxima_novasemibold;
	letter-spacing: 1px;
	min-width: 110px;
	display: inline-block;
	text-align: center;
}
a.btn:hover {
	background-color: #1e4b87;
}
a.give {
	background: #00a5e5 url('../img/heart-icon.png') no-repeat 11px center;
	padding-left: 27px;
	margin: 0 auto;
	text-align: left;
	min-width: 87px;
}
.link {
	background: url('../img/link-icon.png') no-repeat left center;
	padding-left: 18px;
}
.download {
	background: url('../img/download-icon.png') no-repeat left center;
	padding-left: 18px;
}
footer a {
	color: #fff;
}
footer .copyright p a {
	color
}

/* Navigation */
footer nav ul, header nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav li, footer nav li {
	display: inline-block;
	margin: 0 18px 0 0;
}
header nav a, footer nav a {
	font-weight: bold;
	/*font-family: proxima_novasemibold;*/
	text-transform: uppercase;
	font-size: 12px;
}
header nav a {
	color: #666;
}
.fixed {
	z-index: 9999; 
	position: fixed; 
	top: 0;
	width: 280px!important;
	padding-top: 20px;
}
.fixed nav {
	width: 220px;
	margin: 0 auto;
}

/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

body {
	
}
#container {
	
}
.content, header {
	width: 940px;
	margin: 0 auto;
}
#hero {
	background-image: url('../img/placement-exam-hero.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 318px;
	float: left;
	clear: both;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	margin: 0 0 13px 0;
}
.home #hero {
	background-image: url('../img/hero.jpg');
	height: 438px;
	margin: 0 0 40px 0;	
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin:  28px 0 30px 20px;
}
.home .col {
	width: 460px;
	float: left;
}
.home .col + .col {
	width: 220px;
	margin: 0 0 0 20px;
}
.col + .col .content {
	width: 220px;
}

/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
}
header .dept-logo {
	margin: 0 5.7%;
}
header nav {
	clear: both;
	float: left;
	padding: 30px 0 20px 0;
}
header nav ul {
	width: 730px;
}
header nav .search {
	width: 145px;
	border: 1px solid #ccc;
	border-radius: 15px;
	font-size: 12px;
	padding: 5px 45px  5px 10px;
	background: #fff url('../img/search-icon.png') no-repeat 170px center;
}
header #give-back {
	width: 130px;
	text-align: center;
	float: right;
	margin-top: 20px;
}
header #give-back span {
	font-size: 12px;
	display: block;
}
.breadcrumbs {
	background: #1e4b87;
	width: 100%;
	float: left;
	clear: both;
	color: #fff;
	font-size: 12px;
	padding: 8px 0;
	margin-bottom: 40px;
}
.breadcrumbs img {
	margin: 0;
	padding: 0;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
	clear: both;
	float: left;
}
.breadcrumbs li {
	float: left;
	display: inline-block;
	padding: 0 0 0px 10px;
	margin: 0;
}
.breadcrumbs li + li {
		margin: 0 0 0 5px;
		background: url('../img/arrow.png') no-repeat left center;
}
.breadcrumbs li a.home {
	line-height: 20px;
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	background-color: #347bad;
	clear: both;
	margin-top: 60px;
	float: left;
	clear: both;
	width: 100%;
	padding: 35px 0 40px 0;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
}
footer nav ul {
	clear: both;
	float: left;
	margin-right: 50px;
}
footer nav .icon {
	margin-left: 20px;
	display: inline-block;
}
footer .copyright .university-logo {
	float: left;
}
footer .copyright {
	padding-top: 50px;
}
footer .copyright p {
	float: left;
	width: 640px;
	margin: 0 0 0 20px;
}

/*    P E R S O N  P A G E
/*--------------------------------------*/

.details span {
	display: inline-block;
}
.details span + span {
	margin-left: 20px;
}
.person .col + .col {
	margin-top: 0;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}
.person .bio {
	border-bottom: 2px solid #d0e2ee;
	padding-bottom: 20px;
}
.person .book-list {
	float: left;
}
.person .book-list img {
	float: left;
}
.person .book-list span {
	display: block;
}
.person .book-list li {
	float: left;
	margin-bottom: 20px;
}
.person .book-info {
	width: 555px;
	margin-left: 25px;
	float: left;
	line-height: 20px;
}
.person .photo {
	border-radius: 200px;
	width: 280px;
	height: 280px;
	margin-bottom: 25px;
}
.articles li {
	margin-bottom: 15px;
}

/*    P E O P L E  P A G E
/*--------------------------------------*/

.people .people-list li {
	display: inline-block;
	padding: 15px 10px;
	margin: 0 11px;
	width: 190px;
	text-align: center;
	line-height: 18px;
}
.people-list li + li {
	
}
.people .people-list li:hover {
	background-color: #e5f6fc;
}
.people .people-list .photo {
	border-radius: 100px;
	border: 7px solid #fff;
}
.people input.search-filter {
	width: 580px;
	padding: 10px 20px;
	border-radius: 15px;
	border: 2px solid #ccc;
	margin-top: 20px;
}
.people header {
	text-align: center;
}
.people header .filter {
	clear: both;
	float: left;
	width: 100%;
	margin: 50px 0 20px 0;
}
.people header .fields {
	width: 460px;
	float: left;
}
.people header .language {
	width: 260px;
	float: right;
}
.people .people-list {
	border-top: 25px solid #00a5e5;
	margin-top: 40px;
	clear: both;
}
.people .people-list ul {
	margin: 30px 0;
	padding: 0;
}
.people .name {
	text-transform: uppercase;
	color: #00a5e5;
	letter-spacing: 1px;
}
.people .interest {
	font-size: 12px;
	color: #222;
	line-height: 15px;
}
.people .interest strong {
	display: block;
}
.people .position {
	color: #999;
	font-style: italic;
	margin-bottom: 10px;
}
.people .filter ul {
	padding: 0;
}
.people .filter li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}
.people .filter a.btn {
	background-color: #99dbf5;
}
.people .filter a:hover {
	background-color: #1e4b87;
}


/*    O T H E R
/*--------------------------------------*/

ul.exam-dates {
	margin: 25px auto 40px auto;
	width: 600px;
	float: left;
	clear: both;
	text-align: center;
	font-family: proxima_novasemibold;
}
ul.exam-dates li {
	list-style: none;
	width: 95px;
	margin: 0 10px;
	padding: 2px 0;
	text-align: center;
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
}
ul.exam-dates span {
	display: block;
}
ul.exam-dates span.day {
	font-size: 48px;
	color: #222;
	margin: 5px 0;
}
ul.exam-dates span.month {
	color: #00a5e5;
	text-transform: uppercase;
}
ul.exam-dates span.time {
	color: #666;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
ul.exam-dates li.inactive span {
	color: #ccc;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
